.Navigation {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 1rem 1rem;

  height: 5rem;
  width: 100vw;
  overflow-x: scroll;
  background-color: white;
}

@media only screen and (min-width: 500px) {
  .Navigation {
    height: 9rem;
    overflow: visible;
  }
}

@media only screen and (min-width: 1200px) {
  .Navigation::-webkit-scrollbar {
    width: 0 !important;
  }
  .Navigation {
    height: 8rem;
    overflow: visible;
  }
}
