.Statistics {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 84vh;
  background-color: rgb(243, 246, 248);
}

.Options {
  padding-left: 0.7rem;
  background-color: white;
}

.Appearances {
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: rgb(243, 246, 248);
  width: 13rem;
  border-radius: 2rem 2rem 0 0;
}

.Appearances span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #777;
}
