.Statistics {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: rgb(243, 246, 248);
  overflow: hidden;
}

.Options {
  padding-left: 0.7rem;
  background-color: white;
}

.Appearances {
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: rgb(243, 246, 248);
  width: 15rem;
  border-radius: 2rem 2rem 0 0;

  display: flex;
  justify-content: space-between;
}

.Appearances span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #777;
  cursor: pointer;
}

.Items {
  height: 100%;
  display: flex;
}

.Info {
  position: relative;
  transition: all 0.4s;
}

.Info__desc {
  position: absolute;
  top: 0;
  left: 1rem;
  background-color: #eee;
  border-radius: 2rem;
  padding: 0.2rem;
  font-weight: 500;
  width: 20rem;
  display: none;
}

.Appearances:hover .Info__desc {
  transition: all 0.4s;

  display: block;
}
