.Search {
  padding: 1rem;
  border-radius: 50%;
  background-color: rgb(243, 246, 248);
  margin-right: 0.25rem;
  transition: all 0.4s;
}

.Search:hover {
  background-color: #eee;
}

.Search i {
  font-size: 2rem;
  color: #777;
}
