@keyframes custom-animation-in {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes custom-animation-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
