.StatisticsItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem 0.5rem;
  margin-bottom: 4rem;

  overflow-x: hidden;
  overflow-y: auto;
}

.StatisticsItems::-webkit-scrollbar {
  width: 0 !important;
}
