.StatisticsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 6rem;
  margin: 0.5rem 0;
  margin-right: 0.25rem;
  padding: 4rem 1rem;
  background-color: white;
  border-left: solid 4px rgb(3, 155, 229);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 2px 0px, rgb(0 0 0 / 4%) 0px 1px 5px 0px;
}

.StatisticsItem:hover {
  background-color: #eee;
}

.StatisticsItem h4 {
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(55, 71, 79);
}
